* {
  border-radius: 0!important;
}
#logo{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: bold;
}

#logo:hover{
    color:#eaaa00;
}
#username{
    font-size: 16px;
    margin-right: 16%;
}
#logout-btn{
    background-color: #fff;
    font-size: 16px;
}
#logout-btn:hover{
    background-color: #eaaa00;
    font-size: 16px;
}
.mid{
    max-width: 75%;
}
.navbar .container{
  white-space: nowrap;
}
#navbarSupportedContent{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.justify-content-around .btn:hover{
  background-color: #08d123;
  color: #fff;
  border-color: #08d123;
}
h4 , .text-center{
  font-weight: bold;
}
.col-btn .btn{
 margin: 0.5em;
}

.remove-btn:hover{
    background-color:#e61102!important;
    border-color: #e61102!important;
}

a , .btn:hover{
  background-color: #eaaa00;
  color: #fff;
  border-color: #eaaa00;
}
.col-btn .btn:hover{
 background-color: #eaaa00;
 color: #fff;
 border-color: #eaaa00;
}

.col-btn .btn-secondary{
  color:#fff;
}

.order-btn{
    margin-left: 3%;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table-heading{
    font-size: 12px;
    font-weight: bold;
}
.table-content{
    font-size: 14px;
}
#task-btn{
    font-size: 12px;
    padding-left: 5%;
    padding-right: 5%;
}
.edit-btn{
    font-size: 12px;
    margin-left: 3%;
    padding-right: 4%;
    padding-left: 4%;
}
.remove-btn{
    font-size: 12px;
    margin-left: 3%;
    padding-left: 7%;
    padding-right: 7%;
}

.user-heading{
    font-weight: bold;
}
.more-info{
    font-size: 12px;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 7%;
    padding-right: 7%;
    margin-bottom: 2%;

}
.done-btn{
    font-size: 12px;
    padding-left: 12%;
    padding-right: 10%;
    margin-top: 3%;
}
.bg-color{
    background-color: #e6fff7;
}
.bg-login{
    background-color: #5a6268;
}
.bg-form{
    background-color: #fff;
    margin-right: 35%;
    margin-top: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.slogan{
    margin-top: 15%;
    margin-bottom: 15%;
    padding-left: 12%;
}
.form-field{
    margin-left: 10%;
    background-color: #f5f5ef;
    width: 80%;
}
.label{
    margin-left: 10%;
    font-size: 12px;
}
.login-btn{
    margin-left: 10%;
    width: 80%;
    font-size: 12px;
    margin-top: 5%;
}
#logo-text{
    color: #fff;
}
.slogan-text{
    color: #ebebe0;
    font-size: 12px;
}
.bg-task{
    background-color: #ebebe0;
    padding-bottom: 2%;
}
.read-more-btn{
    font-size: 12px;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: 2%;

}

.assign-btn{
    font-size: 12px;
    padding-right: 2%;
    padding-left: 2%;
}
.task-data{
    font-size: 12px;
}
.deadline{
    font-weight: bold;
}
.first-strip{
    background-color: #ebebe0;
}
.second-strip{
    background-color: #e1e1d0;
}
.bg-order{
    background-color: #ebebe0;
}
.search-bar{
    font-size: 12px;
    text-align: right;
    margin-left: 1%;
    width: 50%;
    height: 38px;
    padding-right: 30px;
}
.create-order-btn{
    font-size: 12px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.search-btn{
    font-size: 12px;
    margin-left: 2%;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.col-btn{
    text-align: end;
    vertical-align: inherit;
}
#admin-search{
    width: 70%;
}
.name{
    font-weight: 600;
}
#order-table{
    line-height: 0.5;
}
